<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AngularJS Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="./css/iconfont.css">
  <link rel="stylesheet" href="view11/view11.css">
  <script src="node_modules/angular/angular.js"></script>
  <style>
    a {
      text-decoration: none;
    }

    .box {
      display: flex;
      align-items: center;
      font-size: 25px;
      margin: 5px;
    }
  </style>
</head>

<body>
  <div class="main">

    <!-- 顶部模块 -->
    <div class="head">
      <div class="head-item">
        <span class="iconfont icon-zuojiantou box"></span>
        <p class="head-item-p">设置</p>
      </div>
      <div class="head-item">
        <span class="iconfont icon-suoxiao box"></span>
        <span class="iconfont icon-24gl-square box"></span>
        <span class="iconfont icon-cha box"></span>
      </div>
    </div>

    <div class="body">

      <!-- 左边导航栏模块 -->
      <div class="navigation">

        <div class="navigation-top">
          <span class="iconfont icon-touxiang"></span>
          <div class="navigation-top-item">
            <h4>彭诗衡</h4>
            <p>1299532579@qq.com</p>
          </div>
        </div>

        <div class="navigation-middle">
          <div class="navigation-middle-item">
            <input type="text" value="查找设置">
            <span class="iconfont icon-sousuo"></span>
          </div>

        </div>

        <div class="navigation-bottom">

          <ul class="navigation-bottom-menu">
            <li ng-init="menuList" ng-repeat="x in menuList" class="navigation-bottom-menu-item">
              <span ng-class="x.class"></span>
              <a href="#!/{{x.href}}" ng-click="onJumpPage({ title:x.name,url:x.href},1)" >{{x.name}}</a>
            </li>
          </ul>
        </div>


      </div>
     <!-- 右边页面部分 -->
      <div class="rightmain" >
        
        <!-- 面包屑部分 -->
           <div class="crumbs">
                <a class="crumbs-a" ng-repeat="x in crumbs" ng-click="onJumpPage({ title:x.title,url:x.url.replace('#!/','')},x.zIndex)" >
                  <span></span>{{x.title}}
                </a>

           </div>

        <!-- 主页面部分 -->
        <div ng-view class="primary"></div>

      </div>


    </div>


  </div>


  <!-- <div>demo 版本: v<span app-version></span></div> -->
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="view3/view3.js"></script>
  <script src="view4/view4.js"></script>
  <script src="view5/view5.js"></script>
  <script src="view6/view6.js"></script>
  <script src="view7/view7.js"></script>
  <script src="view8/view8.js"></script>
  <script src="view9/view9.js"></script>
  <script src="view10/view10.js"></script>
  <script src="view11/view11.js"></script>
  <script src="view12/view12.js"></script>
  <script src="view13/view13.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
</body>

</html>